body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 21px;
}
.directory {
  text-decoration: none;
  color: rgba(117, 117, 117, 1);
  font-family: Helvetica;
  font-size: 18px;
}
.title-description {
  color: rgba(117, 117, 117, 1);
  font-size: 30px;
}
.samplepic {
  width: 316px;
}

.circular-square {
  border-radius: 50%;
  width: 50px;
}

.author,
.timeframe {
  font-size: 16px;
  font-family: Helvetica;
  color: rgba(117, 117, 117, 1);
  line-height: 32px;
  float: left;
}

.authordetails {
  float: left;
  margin-left: 65px;
  margin-top: -45px;
}
.content {
  max-width: 960px;
  margin: auto;
  line-height: 32px;
  letter-spacing: -0.003em;
}
.banner {
  width: 960px;
}
h2,
h1 {
  font-family: Helvetica;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 28px;
}
.navbar {
  word-spacing: 50px;
}
.followtext {
  font-size: 16px;
  font-family: Helvetica;
  color: rgba(117, 117, 117, 1);
  line-height: 32px;
  margin-bottom: 30px;
}
.socialtab {
  float: left;
  margin-left: 100px;
  margin-top: -65px;
}
.socialmedia {
  width: 30px;
  margin-left: 10px;
}
